# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Firebase
serviceAccountKey.json

# Node.js
node_modules/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
